 .u-section-2-1 {
  margin-right: 0;
  min-height: 2212px;
}

.u-section-2-1 .u-image-1 {
  height: 243px;
  width: 1559px;
  margin: 0 -129px;
}

.u-section-2-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 52px auto 0;
  padding: 20px;
}

.u-section-2-1 .u-layout-cell-1 {
  min-height: 259px;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-2-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 227px 0 30px;
}

.u-section-2-1 .u-line-1 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 30px;
}

.u-section-2-1 .u-text-2 {
  margin: 30px 30px 0;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 265px;
}

.u-section-2-1 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-2-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-line-2 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-2-1 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 50px calc(((100% - 1140px) / 2) + 406px) 0 calc(((100% - 1140px) / 2) + 441px);
}

.u-section-2-1 .u-line-3 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 8px calc(((100% - 1140px) / 2) + 516px) 0 auto;
}

.u-section-2-1 .u-image-2 {
  width: 1140px;
  height: 405px;
  object-position: 50% 94.73%;
  margin: 12px auto 0;
}

.u-section-2-1 .u-text-6 {
  font-weight: 400;
  margin: -392px calc(((100% - 1140px) / 2) + 358px) 0 calc(((100% - 1140px) / 2) + 408px);
}

.u-section-2-1 .u-layout-wrap-2 {
  margin-top: 432px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2-1 .u-layout-cell-3 {
  min-height: 426px;
}

.u-section-2-1 .u-container-layout-3 {
  padding: 30px 29px 0;
}

.u-section-2-1 .u-video-1 {
  width: 585px;
  height: 329px;
  margin: 0 0 0 7px;
}

.u-section-2-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-1 .u-text-7 {
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-2-1 .u-layout-cell-4 {
  min-height: 426px;
}

.u-section-2-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-2-1 .u-video-2 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-2-1 .u-text-8 {
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-2-1 .u-image-3 {
  width: 748px;
  height: 420px;
  margin: 78px auto 0 472px;
}

.u-section-2-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -420px auto 0 80px;
}

.u-section-2-1 .u-line-4 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 80px;
}

.u-section-2-1 .u-text-10 {
  margin: 29px 865px 60px 80px;
}

@media (max-width: 1199px) {
   .u-section-2-1 {
    min-height: 2047px;
  }

  .u-section-2-1 .u-image-1 {
    height: 147px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 157px;
    margin-left: 0;
  }

  .u-section-2-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 306px);
    margin-left: calc(((100% - 940px) / 2) + 341px);
  }

  .u-section-2-1 .u-line-3 {
    margin-right: calc(((100% - 940px) / 2) + 516px);
  }

  .u-section-2-1 .u-image-2 {
    width: 940px;
    height: 334px;
  }

  .u-section-2-1 .u-text-6 {
    margin-top: -322px;
    margin-right: calc(((100% - 940px) / 2) + 258px);
    margin-left: calc(((100% - 940px) / 2) + 308px);
    font-size: 1rem;
  }

  .u-section-2-1 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2-1 .u-layout-cell-3 {
    min-height: 351px;
  }

  .u-section-2-1 .u-video-1 {
    width: 413px;
    height: 232px;
    margin-left: 0;
  }

  .u-section-2-1 .u-text-7 {
    width: 295px;
    font-size: 1rem;
  }

  .u-section-2-1 .u-layout-cell-4 {
    min-height: 351px;
  }

  .u-section-2-1 .u-video-2 {
    height: 231px;
  }

  .u-section-2-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2-1 .u-image-3 {
    height: 421px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 192px;
  }

  .u-section-2-1 .u-text-9 {
    margin-top: -421px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2-1 .u-line-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2-1 .u-text-10 {
    margin-right: 665px;
    margin-left: calc(((100% - 940px) / 2));
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
   .u-section-2-1 {
    min-height: 1937px;
  }

  .u-section-2-1 .u-image-1 {
    height: 113px;
    width: 720px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 47px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 196px);
    margin-left: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-2-1 .u-line-3 {
    margin-right: calc(((100% - 720px) / 2) + 516px);
  }

  .u-section-2-1 .u-image-2 {
    width: 720px;
    height: 256px;
  }

  .u-section-2-1 .u-text-6 {
    margin-top: -244px;
    margin-right: calc(((100% - 720px) / 2) + 148px);
    margin-left: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-2-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2-1 .u-video-1 {
    width: 303px;
    height: 170px;
  }

  .u-section-2-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2-1 .u-video-2 {
    height: 169px;
  }

  .u-section-2-1 .u-image-3 {
    width: 720px;
    height: 405px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 0;
  }

  .u-section-2-1 .u-text-9 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 0;
  }

  .u-section-2-1 .u-line-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 0;
  }

  .u-section-2-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2-1 {
    min-height: 1615px;
  }

  .u-section-2-1 .u-image-1 {
    height: 85px;
    width: 540px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 106px);
    margin-left: calc(((100% - 540px) / 2) + 141px);
  }

  .u-section-2-1 .u-line-3 {
    margin-right: calc(((100% - 540px) / 2) + 471px);
  }

  .u-section-2-1 .u-image-2 {
    width: 540px;
    height: 192px;
  }

  .u-section-2-1 .u-text-6 {
    margin-top: -180px;
    margin-right: calc(((100% - 540px) / 2) + 58px);
    margin-left: calc(((100% - 540px) / 2) + 108px);
  }

  .u-section-2-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-image-3 {
    width: 540px;
    height: 304px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2-1 .u-line-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2-1 {
    min-height: 1539px;
  }

  .u-section-2-1 .u-image-1 {
    height: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 13px;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 34px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-text-2 {
    width: auto;
    font-size: 0.625rem;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 113px;
  }

  .u-section-2-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2-1 .u-text-4 {
    font-size: 0.625rem;
  }

  .u-section-2-1 .u-text-5 {
    font-size: 0.875rem;
    width: 293px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-line-3 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + 136px);
  }

  .u-section-2-1 .u-image-2 {
    width: 340px;
    height: 121px;
    margin-top: 37px;
  }

  .u-section-2-1 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin-top: -142px;
    margin-right: calc(((100% - 340px) / 2) + -10px);
    margin-left: calc(((100% - 340px) / 2) + 10px);
  }

  .u-section-2-1 .u-layout-wrap-2 {
    margin-top: 149px;
  }

  .u-section-2-1 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-2-1 .u-video-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-text-7 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 9px;
  }

  .u-section-2-1 .u-layout-cell-4 {
    min-height: 237px;
  }

  .u-section-2-1 .u-video-2 {
    width: 303px;
    margin-left: 59px;
    margin-right: 59px;
  }

  .u-section-2-1 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 9px;
  }

  .u-section-2-1 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin-top: 17px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2-1 .u-line-4 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2-1 .u-text-10 {
    font-size: 0.625rem;
    width: 340px;
    margin: 13px auto 0;
  }
} .u-section-2-2 {
  margin-right: 0;
  min-height: 4411px;
}

.u-section-2-2 .u-image-1 {
  height: 243px;
  width: 1519px;
  margin: 0 -109px;
}

.u-section-2-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 43px auto 0;
  padding: 20px;
}

.u-section-2-2 .u-layout-cell-1 {
  min-height: 265px;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 267px 0 30px;
}

.u-section-2-2 .u-line-1 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 30px;
}

.u-section-2-2 .u-text-2 {
  margin: 30px 30px 0;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 265px;
}

.u-section-2-2 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-2-2 .u-text-3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-2-2 .u-line-2 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-2-2 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-2-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 69px 134px 0;
}

.u-section-2-2 .u-line-3 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 11px auto 0 calc(((100% - 1140px) / 2) + 52px);
}

.u-section-2-2 .u-layout-wrap-2 {
  width: 1041px;
  margin: 34px auto 0;
}

.u-section-2-2 .u-image-2 {
  min-height: 286px;
  background-image: url("images/gif-2.gif");
  background-position: 50% 50%;
}

.u-section-2-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2-2 .u-image-3 {
  min-height: 286px;
  background-image: url("images/gif3.gif");
  background-position: 50% 50%;
}

.u-section-2-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2-2 .u-image-4 {
  min-height: 286px;
  background-image: url("images/gif1.gif");
  background-position: 50% 50%;
}

.u-section-2-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2-2 .u-layout-wrap-3 {
  width: 1043px;
  margin: 0 auto;
}

.u-section-2-2 .u-layout-cell-6 {
  min-height: 217px;
}

.u-section-2-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2-2 .u-text-6 {
  font-weight: 400;
  margin: 0;
}

.u-section-2-2 .u-layout-cell-7 {
  min-height: 230px;
}

.u-section-2-2 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-2-2 .u-text-7 {
  font-weight: 400;
  margin: 0;
}

.u-section-2-2 .u-layout-cell-8 {
  min-height: 217px;
}

.u-section-2-2 .u-container-layout-8 {
  padding: 24px 0;
}

.u-section-2-2 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-2-2 .u-group-1 {
  min-height: 974px;
  margin-top: 84px;
  margin-bottom: 0;
}

.u-section-2-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2-2 .u-image-5 {
  width: 1061px;
  height: 182px;
  object-position: 0% 22.52%;
  margin: 0 auto;
}

.u-section-2-2 .u-text-9 {
  font-weight: 400;
  width: 895px;
  margin: 68px auto 0;
}

.u-section-2-2 .u-video-1 {
  width: 1038px;
  height: 584px;
  margin: 30px auto 0;
}

.u-section-2-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-2 .u-layout-wrap-4 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-2-2 .u-layout-cell-9 {
  min-height: 458px;
}

.u-section-2-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2-2 .u-video-2 {
  height: 395px;
  width: 689px;
  margin: 30px 32px 0 auto;
}

.u-section-2-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2-2 .u-layout-cell-10 {
  min-height: 458px;
}

.u-section-2-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2-2 .u-text-10 {
  font-weight: 400;
  margin: 0 50px 0 0;
}

.u-section-2-2 .u-image-6 {
  width: 1033px;
  height: 611px;
  margin: 76px auto 0;
}

.u-section-2-2 .u-image-7 {
  width: 1062px;
  height: 465px;
  margin: 41px auto 0;
}

.u-section-2-2 .u-image-8 {
  width: 847px;
  height: 258px;
  object-position: 50% 23.76%;
  margin: 77px auto 60px;
}

.u-section-2-2 .u-line-4 {
  width: 474px;
  top: 1237px;
  transform-origin: left center 0px;
  position: absolute;
  height: 4px;
}

@media (max-width: 1199px) {
   .u-section-2-2 {
    min-height: 4016px;
  }

  .u-section-2-2 .u-image-1 {
    height: 150px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 197px;
    margin-left: 0;
  }

  .u-section-2-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2-2 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2-2 .u-line-3 {
    margin-left: 130px;
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-2-2 .u-image-2 {
    min-height: 258px;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 258px;
  }

  .u-section-2-2 .u-image-4 {
    min-height: 258px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-2-2 .u-layout-cell-6 {
    min-height: 179px;
  }

  .u-section-2-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2-2 .u-layout-cell-7 {
    min-height: 179px;
  }

  .u-section-2-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2-2 .u-layout-cell-8 {
    min-height: 179px;
  }

  .u-section-2-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2-2 .u-image-5 {
    width: 940px;
    height: 162px;
  }

  .u-section-2-2 .u-text-9 {
    width: 724px;
    font-size: 1rem;
  }

  .u-section-2-2 .u-video-1 {
    width: 940px;
    height: 529px;
  }

  .u-section-2-2 .u-layout-wrap-4 {
    position: relative;
  }

  .u-section-2-2 .u-layout-cell-9 {
    min-height: 400px;
  }

  .u-section-2-2 .u-video-2 {
    height: 340px;
    margin-bottom: -69px;
    width: 595px;
    margin-right: 0;
  }

  .u-section-2-2 .u-layout-cell-10 {
    min-height: 378px;
  }

  .u-section-2-2 .u-text-10 {
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2-2 .u-image-6 {
    width: 940px;
    height: 557px;
  }

  .u-section-2-2 .u-image-7 {
    width: 940px;
    height: 411px;
  }

  .u-section-2-2 .u-line-4 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2-2 {
    min-height: 3385px;
  }

  .u-section-2-2 .u-image-1 {
    height: 115px;
    width: 720px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 87px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-2 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2-2 .u-line-3 {
    margin-left: calc(((100% - 720px) / 2) + 52px);
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2-2 .u-image-2 {
    min-height: 198px;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 198px;
  }

  .u-section-2-2 .u-image-4 {
    min-height: 198px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-2-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2-2 .u-image-5 {
    width: 720px;
    height: 124px;
  }

  .u-section-2-2 .u-text-9 {
    width: 660px;
  }

  .u-section-2-2 .u-video-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-2-2 .u-layout-cell-9 {
    min-height: 290px;
  }

  .u-section-2-2 .u-video-2 {
    height: 261px;
    margin-bottom: -106px;
    width: 456px;
  }

  .u-section-2-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2-2 .u-image-6 {
    width: 720px;
    height: 427px;
  }

  .u-section-2-2 .u-image-7 {
    width: 720px;
    height: 315px;
  }

  .u-section-2-2 .u-image-8 {
    width: 720px;
    height: 219px;
  }
}

@media (max-width: 767px) {
   .u-section-2-2 {
    min-height: 4239px;
  }

  .u-section-2-2 .u-image-1 {
    height: 86px;
    width: 540px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2-2 .u-line-3 {
    margin-left: calc(((100% - 540px) / 2) + 52px);
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2-2 .u-image-2 {
    min-height: 446px;
  }

  .u-section-2-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 446px;
  }

  .u-section-2-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-image-4 {
    min-height: 446px;
  }

  .u-section-2-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-2-2 .u-image-5 {
    width: 540px;
    height: 93px;
  }

  .u-section-2-2 .u-text-9 {
    width: 520px;
  }

  .u-section-2-2 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-2-2 .u-layout-cell-9 {
    min-height: 362px;
  }

  .u-section-2-2 .u-video-2 {
    margin-bottom: -75px;
  }

  .u-section-2-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-image-6 {
    width: 540px;
    height: 320px;
  }

  .u-section-2-2 .u-image-7 {
    width: 540px;
    height: 236px;
  }

  .u-section-2-2 .u-image-8 {
    width: 540px;
    height: 164px;
  }
}

@media (max-width: 575px) {
   .u-section-2-2 {
    min-height: 2351px;
  }

  .u-section-2-2 .u-image-1 {
    height: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-2-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: auto;
  }

  .u-section-2-2 .u-text-4 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 30px;
  }

  .u-section-2-2 .u-text-5 {
    font-size: 0.875rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-2 .u-line-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 140px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2-2 .u-image-2 {
    min-height: 120px;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 119px;
  }

  .u-section-2-2 .u-image-4 {
    min-height: 120px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 191px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2-2 .u-layout-cell-6 {
    min-height: 116px;
  }

  .u-section-2-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2-2 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-2-2 .u-layout-cell-7 {
    min-height: 84px;
  }

  .u-section-2-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2-2 .u-text-7 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 20px;
    margin-bottom: -20px;
  }

  .u-section-2-2 .u-layout-cell-8 {
    min-height: 164px;
  }

  .u-section-2-2 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2-2 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 31px;
    margin-bottom: -16px;
  }

  .u-section-2-2 .u-group-1 {
    min-height: 409px;
  }

  .u-section-2-2 .u-image-5 {
    width: 340px;
    height: 59px;
    margin-top: 18px;
  }

  .u-section-2-2 .u-text-9 {
    width: 320px;
    font-size: 0.625rem;
    margin-top: 22px;
  }

  .u-section-2-2 .u-video-1 {
    width: 340px;
    height: 191px;
    margin-top: 12px;
  }

  .u-section-2-2 .u-layout-cell-9 {
    min-height: 237px;
  }

  .u-section-2-2 .u-video-2 {
    height: 195px;
    margin-bottom: -250px;
    width: 340px;
  }

  .u-section-2-2 .u-layout-cell-10 {
    min-height: 161px;
  }

  .u-section-2-2 .u-container-layout-11 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-2-2 .u-text-10 {
    font-size: 0.625rem;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2-2 .u-image-6 {
    width: 340px;
    height: 201px;
  }

  .u-section-2-2 .u-image-7 {
    width: 340px;
    height: 149px;
  }

  .u-section-2-2 .u-image-8 {
    width: 340px;
    height: 103px;
  }

  .u-section-2-2 .u-line-4 {
    width: 196px;
    top: 870px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 250px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 79px auto 0;
}

.u-section-1 .u-image-1 {
  width: 496px;
  height: 52px;
  margin: 22px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-1 .u-image-1 {
    height: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-image-1 {
    width: 257px;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 45px;
  }
}.u-block-223e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-223e-5 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 120px;
  left: calc(((100% - 1140px) / 2)  + -27px);
  right: auto;
}

.u-block-223e-6 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 110px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -27px);
}

@media (max-width: 1199px) {
  .u-block-223e-5 {
    left: calc(((100% - 940px) / 2)  + -22px);
  }

  .u-block-223e-6 {
    right: calc(((100% - 940px) / 2)  + -22px);
  }
}

@media (max-width: 991px) {
  .u-block-223e-5 {
    left: calc(((100% - 720px) / 2)  + -17px);
  }

  .u-block-223e-6 {
    right: calc(((100% - 720px) / 2)  + -17px);
  }
}

@media (max-width: 767px) {
  .u-block-223e-5 {
    left: calc(((100% - 540px) / 2)  + -13px);
  }

  .u-block-223e-6 {
    right: calc(((100% - 540px) / 2)  + -13px);
  }
}

@media (max-width: 575px) {
  .u-block-223e-5 {
    left: calc(((100% - 340px) / 2)  + -8px);
  }

  .u-block-223e-6 {
    right: calc(((100% - 340px) / 2)  + -8px);
  }
}