 .u-section-2-1 {
  margin-right: 0;
  min-height: 4210px;
}

.u-section-2-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 0;
  padding: 20px;
}

.u-section-2-1 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-2-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 292px 0 30px;
}

.u-section-2-1 .u-line-1 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 30px;
}

.u-section-2-1 .u-text-2 {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: 30px 30px 0;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-2-1 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-2-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-line-2 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-2-1 .u-text-4 {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-2-1 .u-image-2 {
  width: 310px;
  height: 92px;
  margin: 71px auto 0 calc(((100% - 1140px) / 2) + 415px);
}

.u-section-2-1 .u-text-5 {
  font-family: Raleway, sans-serif;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 207px);
}

.u-section-2-1 .u-image-3 {
  width: 855px;
  height: 612px;
  margin: 38px auto 0 calc(((100% - 1140px) / 2) + 143px);
}

.u-section-2-1 .u-group-1 {
  width: 753px;
  min-height: 372px;
  margin: -507px auto 0 calc(((100% - 1140px) / 2) + 194px);
}

.u-section-2-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2-1 .u-video-1 {
  width: 664px;
  height: 374px;
  margin: 0 auto -2px;
}

.u-section-2-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-2-1 .u-group-2 {
  width: 1307px;
  min-height: 470px;
  margin: 203px auto 0 calc(((100% - 1140px) / 2) + -83px);
}

.u-section-2-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-2-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2-1 .u-image-4 {
  width: 198px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-text-6 {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: 37px 0 0;
}

.u-section-2-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2-1 .u-video-2 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-2-1 .u-layout-wrap-3 {
  width: 1140px;
  margin: 80px auto 0;
}

.u-section-2-1 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-2-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2-1 .u-video-3 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-2-1 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-2-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2-1 .u-image-5 {
  width: 303px;
  height: 34px;
  margin: 0 112px 0 0;
}

.u-section-2-1 .u-text-7 {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: 37px 1px 0;
}

.u-section-2-1 .u-group-3 {
  width: 1307px;
  min-height: 789px;
  margin: 64px auto 0 calc(((100% - 1140px) / 2) + -83px);
}

.u-section-2-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-2-1 .u-image-6 {
  width: 130px;
  height: 34px;
  margin: 51px auto 0;
}

.u-section-2-1 .u-text-8 {
  width: 840px;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin: 23px auto 0;
}

.u-section-2-1 .u-image-7 {
  height: 467px;
  width: 841px;
  margin: 23px 233px 0;
}

.u-section-2-1 .u-image-8 {
  width: 200px;
  height: 34px;
  margin: 82px auto 0 calc(((100% - 1140px) / 2) + 143px);
}

.u-section-2-1 .u-text-9 {
  font-family: Raleway, sans-serif;
  width: 854px;
  font-size: 1rem;
  margin: 26px calc(((100% - 1140px) / 2) + 143px) 0;
}

.u-section-2-1 .u-image-9 {
  width: 388px;
  height: 549px;
  margin: 41px auto 0 calc(((100% - 1140px) / 2) + 143px);
}

.u-section-2-1 .u-image-10 {
  width: 393px;
  height: 555px;
  margin: -552px calc(((100% - 1140px) / 2) + 143px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-2-1 {
    min-height: 4090px;
  }

  .u-section-2-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 222px;
    margin-left: 0;
  }

  .u-section-2-1 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-2-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 463px);
  }

  .u-section-2-1 .u-group-2 {
    width: calc(((100% - 1140px) / 2) + 990px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2-1 .u-layout-cell-3 {
    min-height: NaNpx;
  }

  .u-section-2-1 .u-image-4 {
    width: 158px;
    height: 27px;
  }

  .u-section-2-1 .u-layout-cell-4 {
    min-height: NaNpx;
  }

  .u-section-2-1 .u-layout-wrap-3 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-1 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-2-1 .u-layout-cell-6 {
    min-height: 330px;
  }

  .u-section-2-1 .u-image-5 {
    width: 158px;
    height: 27px;
    margin-right: 29px;
  }

  .u-section-2-1 .u-group-3 {
    width: calc(((100% - 1140px) / 2) + 990px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2-1 .u-image-7 {
    margin-left: 50px;
    margin-right: 49px;
  }

  .u-section-2-1 .u-image-8 {
    margin-left: calc(((100% - 1140px) / 2) + 373px);
  }

  .u-section-2-1 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 43px);
    margin-left: calc(((100% - 1140px) / 2) + 243px);
  }

  .u-section-2-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 366px);
    margin-left: auto;
  }

  .u-section-2-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 361px);
  }
}

@media (max-width: 991px) {
   .u-section-2-1 {
    min-height: 3779px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 112px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 610px);
  }

  .u-section-2-1 .u-image-3 {
    width: 720px;
    height: 515px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-1 .u-group-1 {
    width: 720px;
    margin-top: -410px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-1 .u-video-1 {
    width: 660px;
    height: 372px;
  }

  .u-section-2-1 .u-group-2 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-2-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2-1 .u-image-4 {
    width: 114px;
    height: 19px;
  }

  .u-section-2-1 .u-layout-wrap-3 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-1 .u-layout-cell-5 {
    min-height: 253px;
  }

  .u-section-2-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2-1 .u-image-5 {
    width: 114px;
    height: 19px;
    margin-right: 0;
  }

  .u-section-2-1 .u-group-3 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-2-1 .u-text-8 {
    width: 720px;
  }

  .u-section-2-1 .u-image-7 {
    height: 400px;
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 347px);
    margin-left: auto;
  }

  .u-section-2-1 .u-text-9 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-2-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 146px);
  }

  .u-section-2-1 .u-image-10 {
    margin-right: calc(((100% - 1140px) / 2) + 50px);
  }
}

@media (max-width: 767px) {
   .u-section-2-1 {
    min-height: 3922px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 730px);
  }

  .u-section-2-1 .u-image-3 {
    width: 540px;
    height: 386px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-1 .u-group-1 {
    width: 540px;
    margin-top: -281px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-video-1 {
    width: 520px;
    height: 293px;
  }

  .u-section-2-1 .u-group-2 {
    width: 540px;
  }

  .u-section-2-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-image-4 {
    width: 260px;
    height: 43px;
  }

  .u-section-2-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-layout-wrap-3 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-1 .u-layout-cell-5 {
    min-height: 325px;
  }

  .u-section-2-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-image-5 {
    width: 260px;
    height: 43px;
  }

  .u-section-2-1 .u-group-3 {
    width: 540px;
  }

  .u-section-2-1 .u-text-8 {
    width: 540px;
  }

  .u-section-2-1 .u-image-7 {
    height: 300px;
    width: 540px;
  }

  .u-section-2-1 .u-image-8 {
    margin-right: calc(((100% - 1140px) / 2) + 167px);
  }

  .u-section-2-1 .u-text-9 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-2-1 .u-image-9 {
    margin-right: calc(((100% - 1140px) / 2) + 50px);
  }
}

@media (max-width: 575px) {
   .u-section-2-1 {
    min-height: 3516px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-line-1 {
    margin-top: 10px;
  }

  .u-section-2-1 .u-text-2 {
    width: auto;
    font-size: 0.625rem;
  }

  .u-section-2-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-2-1 .u-text-4 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-2-1 .u-image-2 {
    width: 239px;
    height: 71px;
    margin-left: calc(((100% - 1140px) / 2) + 451px);
  }

  .u-section-2-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 863px);
  }

  .u-section-2-1 .u-image-3 {
    height: 243px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-group-1 {
    width: 283px;
    margin-top: -138px;
    margin-left: calc(((100% - 1140px) / 2) + 429px);
  }

  .u-section-2-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2-1 .u-video-1 {
    height: 150px;
    width: 252px;
    margin-top: 10px;
    margin-right: 14px;
    margin-bottom: 0;
  }

  .u-section-2-1 .u-group-2 {
    width: 446px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 347px);
  }

  .u-section-2-1 .u-image-4 {
    width: 160px;
    height: 26px;
    margin-left: 41px;
  }

  .u-section-2-1 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-2-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2-1 .u-video-2 {
    height: 185px;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-layout-wrap-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-layout-cell-5 {
    order: 1;
    min-height: 205px;
  }

  .u-section-2-1 .u-layout-cell-6 {
    order: 0;
  }

  .u-section-2-1 .u-container-layout-8 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2-1 .u-image-5 {
    width: 279px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-text-7 {
    font-size: 0.625rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2-1 .u-group-3 {
    width: 446px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 347px);
  }

  .u-section-2-1 .u-text-8 {
    width: 340px;
    font-size: 0.625rem;
  }

  .u-section-2-1 .u-image-7 {
    height: 189px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-1 .u-image-8 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 470px);
  }

  .u-section-2-1 .u-text-9 {
    width: auto;
    font-size: 0.625rem;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2-1 .u-image-9 {
    height: 235px;
    width: 166px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2-1 .u-image-10 {
    height: 235px;
    width: 167px;
    margin-top: -484px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-2-2 {
  margin-right: 0;
  min-height: 2975px;
}

.u-section-2-2 .u-image-1 {
  height: 243px;
  width: 1312px;
  margin: 0 -6px;
}

.u-section-2-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 0;
  padding: 20px;
}

.u-section-2-2 .u-layout-cell-1 {
  min-height: 284px;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 310px 0 30px;
}

.u-section-2-2 .u-line-1 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 30px;
}

.u-section-2-2 .u-text-2 {
  font-family: Raleway, sans-serif;
  margin: 30px 30px 0;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 284px;
}

.u-section-2-2 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-2-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2-2 .u-line-2 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 0;
}

.u-section-2-2 .u-text-4 {
  font-family: Raleway, sans-serif;
  margin: 30px 0 0;
}

.u-section-2-2 .u-layout-wrap-2 {
  width: 840px;
  margin: 67px auto 0;
}

.u-section-2-2 .u-layout-cell-3 {
  min-height: 549px;
}

.u-section-2-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2-2 .u-layout-wrap-3 {
  width: 1140px;
  margin: 90px auto 0;
}

.u-section-2-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 64px 168px 0 40px;
}

.u-section-2-2 .u-line-3 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 40px;
}

.u-section-2-2 .u-text-6 {
  font-family: Raleway, sans-serif;
  width: 319px;
  margin: 50px auto 0;
}

.u-section-2-2 .u-image-3 {
  min-height: 400px;
  background-image: url("images/site.png");
  background-position: 49.31% 50%;
}

.u-section-2-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2-2 .u-image-4 {
  height: 339px;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-2-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 131px 209px 0 145px;
}

.u-section-2-2 .u-line-4 {
  width: 69px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 9px auto 0 145px;
}

.u-section-2-2 .u-text-8 {
  font-family: Raleway, sans-serif;
  margin: 19px 143px 0;
}

.u-section-2-2 .u-image-5 {
  width: 1140px;
  height: 504px;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-2-2 {
    min-height: 2383px;
  }

  .u-section-2-2 .u-image-1 {
    height: 174px;
    width: 940px;
    margin-right: 0;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-2-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-2-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2-2 .u-layout-wrap-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-2 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-2-2 .u-text-5 {
    margin-right: 89px;
    margin-left: 0;
  }

  .u-section-2-2 .u-line-3 {
    margin-left: 0;
  }

  .u-section-2-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 330px;
  }

  .u-section-2-2 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2-2 .u-line-4 {
    margin-left: calc(((100% - 940px) / 2) + 65px);
  }

  .u-section-2-2 .u-text-8 {
    margin-right: 43px;
    margin-left: 43px;
    font-size: 1rem;
  }

  .u-section-2-2 .u-image-5 {
    width: 940px;
    height: 416px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2-2 {
    min-height: 1972px;
  }

  .u-section-2-2 .u-image-1 {
    height: 133px;
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-2 .u-layout-cell-3 {
    min-height: 471px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2-2 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    width: 252px;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 253px;
  }

  .u-section-2-2 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2-2 .u-line-4 {
    margin-left: calc(((100% - 720px) / 2) + 65px);
  }

  .u-section-2-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-2 .u-image-5 {
    width: 720px;
    height: 319px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2-2 {
    min-height: 2034px;
  }

  .u-section-2-2 .u-image-1 {
    height: 100px;
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-2 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-2 .u-image-3 {
    min-height: 380px;
  }

  .u-section-2-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2-2 .u-line-4 {
    margin-left: calc(((100% - 540px) / 2) + 65px);
  }

  .u-section-2-2 .u-image-5 {
    width: 540px;
    height: 239px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2-2 {
    min-height: 1646px;
  }

  .u-section-2-2 .u-image-1 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding: 14px 0;
  }

  .u-section-2-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-2-2 .u-text-4 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-2-2 .u-layout-wrap-2 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-2-2 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-2-2 .u-layout-wrap-3 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-2-2 .u-layout-cell-4 {
    min-height: 107px;
  }

  .u-section-2-2 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-2-2 .u-line-3 {
    margin-left: 20px;
  }

  .u-section-2-2 .u-text-6 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 20px;
    margin-right: 68px;
    margin-left: 20px;
  }

  .u-section-2-2 .u-image-3 {
    min-height: 244px;
  }

  .u-section-2-2 .u-image-4 {
    height: 112px;
  }

  .u-section-2-2 .u-text-7 {
    font-size: 1rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-2 .u-line-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2-2 .u-text-8 {
    font-size: 0.625rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2-2 .u-image-5 {
    width: 340px;
    height: 150px;
    margin-right: auto;
  }
} .u-section-2-3 {
  margin-right: 0;
  min-height: 1859px;
}

.u-section-2-3 .u-image-1 {
  height: 243px;
  width: 1298px;
  object-position: 50% 38.5%;
  margin: 0 auto;
}

.u-section-2-3 .u-layout-wrap-1 {
  background-image: none;
  width: 1140px;
  margin: 56px auto 0;
}

.u-section-2-3 .u-image-2 {
  min-height: 464px;
  background-image: url("images/MAJ_site-04.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-3 .u-layout-cell-2 {
  min-height: 464px;
  background-image: none;
}

.u-section-2-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2-3 .u-layout-wrap-2 {
  background-image: none;
  width: 1140px;
  margin: 44px auto 0;
}

.u-section-2-3 .u-layout-cell-3 {
  min-height: 464px;
}

.u-section-2-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2-3 .u-image-3 {
  min-height: 464px;
  background-image: url("images/mockup-cartes-visites.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2-3 .u-layout-wrap-3 {
  background-image: none;
  width: 1140px;
  margin: 44px auto 60px;
}

.u-section-2-3 .u-image-4 {
  min-height: 464px;
  background-image: url("images/Sanstitre-3_Plandetravail1.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2-3 .u-layout-cell-6 {
  min-height: 464px;
}

.u-section-2-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-2-3 {
    min-height: 1550px;
  }

  .u-section-2-3 .u-image-1 {
    height: 176px;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-3 .u-image-2 {
    min-height: 383px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-2-3 .u-layout-wrap-2 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-3 .u-layout-cell-3 {
    min-height: 383px;
  }

  .u-section-2-3 .u-image-3 {
    min-height: 383px;
  }

  .u-section-2-3 .u-layout-wrap-3 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2-3 .u-image-4 {
    min-height: 383px;
  }

  .u-section-2-3 .u-layout-cell-6 {
    min-height: 383px;
  }
}

@media (max-width: 991px) {
   .u-section-2-3 {
    min-height: 1239px;
  }

  .u-section-2-3 .u-image-1 {
    height: 135px;
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-3 .u-image-2 {
    min-height: 293px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-3 .u-layout-wrap-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2-3 .u-image-3 {
    min-height: 293px;
  }

  .u-section-2-3 .u-layout-wrap-3 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2-3 .u-image-4 {
    min-height: 293px;
  }

  .u-section-2-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2-3 {
    min-height: 1607px;
  }

  .u-section-2-3 .u-image-1 {
    height: 101px;
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-3 .u-image-2 {
    min-height: 330px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-layout-wrap-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-image-3 {
    min-height: 322px;
  }

  .u-section-2-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-layout-wrap-3 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2-3 .u-image-4 {
    min-height: 330px;
  }

  .u-section-2-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2-3 {
    min-height: 2219px;
  }

  .u-section-2-3 .u-image-1 {
    height: 91px;
    width: 437px;
    margin-left: auto;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 29px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2-3 .u-image-2 {
    min-height: 208px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 203px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 0.625rem;
    width: auto;
  }

  .u-section-2-3 .u-layout-wrap-2 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-2-3 .u-layout-cell-3 {
    min-height: 235px;
    order: 1;
  }

  .u-section-2-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2-3 .u-text-2 {
    font-size: 0.625rem;
  }

  .u-section-2-3 .u-image-3 {
    min-height: 190px;
    order: 0;
  }

  .u-section-2-3 .u-layout-wrap-3 {
    width: 340px;
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-2-3 .u-image-4 {
    min-height: 169px;
  }

  .u-section-2-3 .u-layout-cell-6 {
    min-height: 210px;
  }

  .u-section-2-3 .u-container-layout-6 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-2-3 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 398px;
  height: 50px;
  margin: 13px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 42px;
  }

  .u-section-1 .u-image-1 {
    width: 212px;
    height: 27px;
    margin-top: 19px;
    margin-bottom: 42px;
  }
}.u-block-223e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-223e-3 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 109px;
  left: calc(((100% - 1140px) / 2)  + -27px);
  right: auto;
}

.u-block-223e-4 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 107px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -28px);
}

@media (max-width: 1199px) {
  .u-block-223e-3 {
    left: calc(((100% - 940px) / 2)  + -22px);
  }

  .u-block-223e-4 {
    right: calc(((100% - 940px) / 2)  + -23px);
  }
}

@media (max-width: 991px) {
  .u-block-223e-3 {
    left: calc(((100% - 720px) / 2)  + -17px);
  }

  .u-block-223e-4 {
    right: calc(((100% - 720px) / 2)  + -18px);
  }
}

@media (max-width: 767px) {
  .u-block-223e-3 {
    left: calc(((100% - 540px) / 2)  + -13px);
  }

  .u-block-223e-4 {
    right: calc(((100% - 540px) / 2)  + -13px);
  }
}

@media (max-width: 575px) {
  .u-block-223e-3 {
    left: calc(((100% - 340px) / 2)  + -8px);
  }

  .u-block-223e-4 {
    right: calc(((100% - 340px) / 2)  + -8px);
  }
}